body {
 color: #ddd;
 background-color: #000;
 font-size: 140%;
 margin: 1em;
}

input {
 font-size: 150%;
 padding: 0.4em;
 margin: 0.3em;
}

.reproducible {
 color: #5e5;
}

.FTBR {
 color: #f55;
}

.FTBFS {
 background-color: #700;
}

a:link {
  color: #3780da;
}
a:visited {
  color: #9364be;
}
